@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=PT+Sans+Narrow&family=Plus+Jakarta+Sans:ital,wght@0,400;1,300&display=swap");

:root {
    /* Dark mode */
    --light-color: rgba(231, 231, 231);
    --background-color: #282c32;
    --nav-background-color: rgba(132, 139, 200, 0.18);
    --background-hover-color: rgba(132, 139, 200, 0.18);
    background: var(--background-color);
    font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;
    color: var(--light-color);
}